@CHARSET "ISO-8859-1";

.EmptyDataMessageCell {
  text-align:left;
}

.emptyDataMessage {
  color:#FF0000;
  font-size: 14px;
  font-weight:bold;
  font-family: arial, sans-serif; 
  margin-top:5px;
  margin-bottom:5px;
  margin-right:5px;
  margin-left:20px;
 
}
